# Database Configuration (Aiven MySQL)
DATABASE_URL="mysql://<avnadmin>:<your-password>@<host>:<port>/<defaultdb>?ssl-mode=REQUIRED"
DATABASE_USER="avnadmin"
DATABASE_PASSWORD="<your-aiven-password>"
DATABASE_NAME="defaultdb"
DATABASE_HOST="<your-aiven-mysql-host>"
DATABASE_PORT="23198"

# JWT Secret
JWT_SECRET="<your-jwt-secret-key>"
