# Database Configuration (Aiven MySQL)
DATABASE_URL="mysql://<avnadmin>:<your-password>@<host>:<port>/<defaultdb>?ssl-mode=REQUIRED"
DATABASE_USER="avnadmin"
DATABASE_PASSWORD="<your-aiven-password>"
DATABASE_NAME="defaultdb"
DATABASE_HOST="<your-aiven-mysql-host>"
DATABASE_PORT="23198"

# JWT Secret
JWT_SECRET="<your-jwt-secret-key>"

#Horsepay
HORSEPAY_URL="horsepay url"
HORSEPAY_STORE_ID="storeid"
HORSEPAY_TIMEZONE="timezone"
HORSEPAY_FORCE_STATUS="true/false"

# Aiven
AIVEN_CA_CERT="fill in"
