DATABASE_URL="mysql://<username>:<password>@<host>:<port>/<database>?ssl-mode=REQUIRED"
JWT_SECRET="<your-jwt-secret>"

DATABASE_USER="<username>"
DATABASE_PASSWORD="<password>"
DATABASE_NAME="<database>"
DATABASE_HOST="<host>"
DATABASE_PORT="<port>"
